dtlpy
jupyter
jupyter_contrib_nbextensions
google-cloud-storage
google-cloud-core
Pillow>=10.3.0
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.5 # not directly required, pinned by Snyk to avoid a vulnerability
jupyter-core>=5.8.0 # not directly required, pinned by Snyk to avoid a vulnerability
jupyterlab>=4.4.8 # not directly required, pinned by Snyk to avoid a vulnerability